<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/site-style.css"/>
    <link rel="stylesheet" href="../static/css/jquery.datatables.min.css"/>
    <script style="text/javascript" src="../static/scripts/jquery-3.3.1.js"></script>
    <script style="text/javascript" src="../static/scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header class="head row">
            <p>A header of some sort</p>
        </header>
        <div class="row">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Ratings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#dashboard" id="dash">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#reviews">Read Reviews</a>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <div class="row content">
                <div class="tab-content">
                    <div class="tab-pane container active" id="home">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Rating Percentage by Location</h3>
                            <hr/>
                            </div>
                            <form id="location_form">
                                <div class="location_input">
                                    <label for="location_state">Select a location state:  </label>
                                    <select name="location" id="state_selector">

                                    </select>
                                </div>

                                <div class="submit_btn">
                                    <input type="button" class="button" id="submit" value="submit"/>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="data_container">
                                <table id="value_ratings" class="stripe row-border order-column">
                                    <caption>Aggregate Rating Percentage by Location</caption>
                                    <thead>
                                        <tr>
                                            <th>Address</th>
                                            <th>Total Reviews</th>
                                            <th>Overall Score</th>
                                            <th>Value</th>
                                            <th>Location</th>
                                            <th>Sleep</th>
                                            <th>Room</th>
                                            <th>Cleanliness</th>
                                            <th>Service</th>
                                            <th>Check-in</th>
                                            <th>Business</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container" id="dashboard">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-6">
                                    <h4>Hotel Data Analysis</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-8 dashSelect">
                                    <label for="dashboard-locations">Location: </label>
                                    <select id="dashboard-locations" name="dashboard-locations">

                                    </select>
                                </div>
                                <div class="col-sm-2 dashBtn">
                                    <input type="button" id="dashboard_button" value="Go">
                                </div>
                            </div>
                            <div class="col-lg-12 dashboard-container">
                                <div class="col-sm-2 metrics">
                                    <div id="stays" class="thumbnail">
                                        <h6>Total Reviews</h6>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 metrics">
                                    <div id="neg_revs" class="thumbnail">
                                        <h6>Negative Reviews</h6>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 metrics">
                                    <div id="pos_revs" class="thumbnail">
                                        <h6>Positive Reviews</h6>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 metrics">
                                    <div class="thumbnail" id="lowest_rating">
                                        <h6>Lowest Rating</h6>
                                        <p style="color:red"></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 metrics">
                                    <div class="thumbnail" id="highest_rating">
                                        <h6>Highest Rating</h6>
                                        <p style="color:green"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 bar_container">
                                 <div class="col-sm-8 metrics bar_graph" id="bar_container">
                                    <canvas id="ratings_chart">

                                    </canvas>
                                </div>

                            </div>
                        </div>
                        <div class="row middle_row">
                            <div class="col-lg-6" id="travel_style_container">
                                <canvas id="travel_style_chart">

                                </canvas>
                            </div>
                            <div class="col-lg-6" id="donut_container">
                                <canvas id="donut_chart">

                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container" id="reviews">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-6">
                                    <h4>Checkout Reviews</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-sm-8 reviewSelect">
                                    <label for="review-locations">Location: </label>
                                    <select id="review-locations" name="review-locations">

                                    </select>
                                </div>
                                <div class="col-sm-2 reviewBtn">
                                    <input type="button" id="review_button" value="Go">
                                </div>
                            </div>
                            <div class="col-lg-12" id="review_container">
                                <h6>Location: <span id="location_span"></span></h6>
                                <div class="display_content" id="siteDisplay">
                                    <button type="button" id="left" onclick="plusDivs(-1)">&#10094;</button>
                                    <button type="button" id="right" onclick="plusDivs(1)">&#10095;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script style="text/javascript" src="../static/scripts/main.js"></script>
    <script style="text/javascript" src="../static/scripts/jquery.dataTables.min.js"></script>
    <script style="text/javascript" src="../static/scripts/Chart.bundle.js"></script>
    <script style="text/javascript" src="../static/scripts/Chart.js"></script>
</body>
</html>